<template>

      <Card></Card>


</template>
<script>
import Card from "./Card.vue";
export default {
  name: "Backpack",
  data() {
    return {
      msg: "Hell1"
    };
  },
  components: {
    Card
  }
};
</script>
<style scoped>
</style>