<template>
  <div class="card container" style="width: 18rem;">
    <div class="card-body">
      <div class="form-inline">
        <h5 class="col-10">{{ name }}</h5>
        <div class="attack btn btn-outline-primary btn-circle float-right col-2">{{ cost }}</div>
      </div>
      <img src="http://lorempixel.com/1000/1000/sports/" class="img-fluid" />
      <p class="card-text">{{ content }}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Cras justo odio</li>
      <li class="list-group-item">Dapibus ac facilisis in</li>
      <li class="list-group-item">Vestibulum at eros</li>
    </ul>
    <div class="card-bottom form-inline">
      <div class="col-0.5"></div>
      <div class="attack btn btn-outline-danger btn-circle col-2">{{ damage }}</div>
      <div class="col-8"></div>
      <div class="life btn btn-outline-success btn-circle col-2">{{ life }}</div>
      <div class="col-0.5"></div>
    </div>
  </div>
</template>
<script >
export default {
  name: "Card",
  data() {
    return {};
  },
  props: {
    name: {
      default: "卡片名稱"
    },
    cost: {
      default: "0"
    },
    content: {
      default: "卡片內容"
    },
    cardeffect1: {
      default: "卡片效果1"
    },
    cardeffect2: {
      default: "卡片效果2"
    },
    cardeffect3: {
      default: "卡片效果3"
    },
    damage: {
      default: "0"
    },
    life: {
      default: "0"
    }
  }
};
</script>
<style  scope>
.btn-circle {
  border-radius: 50%;
}
</style>