<template>
  <div class="container form-inline">
    <form>
      <div class="form-group">
        <label class="w-100">Card Name</label>
        <input
          v-model="cardName"
          class="form-control w-100"
          autocomplete="true"
          placeholder="Enter Card Name"
        />
      </div>
      <div class="form-group">
        <label class="w-100">Card Cost</label>
        <input
          v-model="cardCost"
          class="form-control w-100"
          autocomplete="true"
          placeholder="Enter Card Cost"
        />
      </div>
      <div class="form-group">
        <label class="w-100">Card Content</label>
        <input
          v-model="cardContent"
          class="form-control w-100"
          autocomplete="true"
          placeholder="Enter Card Content"
        />
      </div>
      <div class="form-group">
        <label class="w-100">Card Damage</label>
        <input
          v-model="cardDamage"
          class="form-control w-100"
          autocomplete="true"
          placeholder="Enter Card Damage"
        />
      </div>
      <div class="form-group">
        <label class="w-100">Card Life</label>
        <input
          v-model="cardLife"
          class="form-control w-100"
          autocomplete="true"
          placeholder="Enter Card Life"
        />
      </div>

      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" />
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div>
      <button @click="saveData" type="submit" class="btn btn-primary">Submit</button>
    </form>
    <Card
      :name="cardName"
      :cost="cardCost"
      :content="cardContent"
      :damage="cardDamage"
      :life="cardLife"
    ></Card>
  </div>
</template>
<script>
import Card from "./Card.vue";
var user = db.collection("user");
var cards = db.collection("cards");
export default {
  name: "Factory",
  data() {
    return {
      cardName: "名字",
      cardCost: "0",
      cardContent: "內容",
      cardDamage: "0",
      cardLife: "0"

      //   name:"asd",
    };
  },
  props: ["name"],
  components: {
    Card
  },
  methods: {
    //savving data
    saveData() {
      const vm = this;
      console.log(vm.cardName);
      db.collection("cards").add({
        name: vm.cardName,
        cost: vm.cardCost,
        content: vm.cardContent,
        damage: vm.cardDamage,
        life: vm.cardLife
      });
      vm.cardName = "";
      vm.cardCost = "";
      vm.cardContent = "";
      vm.cardDamage = "";
      vm.cardLife = "";
    },
    update() {}
  },
  created() {
    const vm = this;
    // vm.saveData();
  }
};
</script>
<style scoped>
</style>