<template>
  <div class="hello container mt-5">
    <div class="input-group mb-3">
      <input type="text" v-model="username" class="form-control" placeholder="名字" />
      <input type="text" v-model="message" class="form-control" placeholder="訊息" />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          @click="submit_message"
          type="button"
          id="button-addon2"
        >Button</button>
      </div>
    </div>
    <div class="media my-3" v-for="item in messages">
      <img
        v-if="item.username != username"
        src="http://lorempixel.com/100/100/sports/"
        class="align-self-start mr-3"
        alt="..."
      />
      <div class="media-body">
        <h5 class="mt-0">{{item.username}}</h5>
        <p>{{item.message}}</p>
      </div>
      <img
        v-if="item.username == username"
        src="http://lorempixel.com/100/100/sports/"
        class="align-self-end mr-3"
        alt="..."
      />
    </div>
  </div>
</template>

<script>
export default {
  name: "HelloWorld",
  data() {
    return {
      msg: "Hello2",
      username: "Casper",
      message: "",
      messages: [
        {
          username: "Casper",
          message: "Hello"
        },
        {
          username: "卡斯柏",
          message: "你好"
        }
      ]
    };
  },
  methods: {
    submit_message() {
      let vm = this;
      vm.messages.unshift({
        username: vm.username,
        message: vm.message
      });
      vm.message ="";
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
