<template>
  <div class="container form-inline">
    <Card
      v-for="(data,index) in data"
      :name="data.name"
      :cost="data.cost"
      :content="data.content"
      :damage="data.damage"
      :life="data.life"
      :key="index"
    ></Card>
    <!-- 購買卡片  -->
    <div>
      <button>aaa</button>
    </div>
  </div>
</template>
<script>
import Card from "./Card.vue";

export default {
  name: "Shop",
  data() {
    return {
      data: [],
      cardName: "名字",
      cardCost: "0",
      cardContent: "內容",
      cardDamage: "0",
      cardLife: "0"
      //   name:"asd",
    };
  },
  props: ["name"],
  components: {
    Card
  },
  methods: {
    getData() {
      const vm = this;
      db.collection("cards")
        .get()
        .then(snapshot => {
          snapshot.docs.forEach(doc => {
            // vm.renderCard(doc);
            vm.data.push(doc.data());
            console.log(doc.id, "=>", doc.data());
          });
        });
    }
  },

  created() {
    const vm = this;
    vm.getData();
  },
  beforeMount() {}
};
</script>
<style scoped>
</style>