<template>
  <div class="sidebar" id="dowebok">
    <div class="sidebar-wrapper" id="sidebar-wrapper">
      <ul class="nav">
        <li>
          <a href="http://www.dowebok.com/">dowebok</a>
        </li>
        <li>
          <a href="http://www.dowebok.com/code">代碼</a>
        </li>
        <li>
          <a href="http://www.dowebok.com/material">素材</a>
        </li>
        <li>
          <a href="http://www.dowebok.com/template">模板</a>
        </li>
        <li>
          <a href="http://www.dowebok.com/contact">聯繫</a>
        </li>
      </ul>
    </div>
  </div>
</template>
<script>
export default {
  mounted() {
    $("#dowebok").simplerSidebar({
      opener: "#toggle-sidebar",
      sidebar: {
        align: "left",
        width: 250
      }
    });
  }
};
</script>    
<style scope>
.sidebar-wrapper {
  position: relative;
  height: 100%;
  overflow: auto;
}
</style>