<template>
  <div id="app">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">
        <img :src="logo" height="25" width="25" />
        Cardlice
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <router-link class="nav-link" :to="'/chat'">chat</router-link>
          </li>
          <li class="nav-item">
            <router-link class="nav-link" :to="'/chat'">chat</router-link>
          </li>
          <li class="nav-item">
            <router-link class="nav-link" :to="'/Backpack'">Backpack</router-link>
          </li>
          <li class="nav-item">
            <router-link class="nav-link" :to="'/Shop'">Shop</router-link>
          </li>
          <li class="nav-item">
            <router-link class="nav-link" :to="'/Factory'">Factory</router-link>
          </li>
          <li class="nav-item">
            <router-link class="nav-link" :to="'/gametable'">Gametable</router-link>
          </li>
        </ul>
      </div>
    </nav>
    <router-view></router-view>
  </div>
</template>

<script>
export default {
  name: "App",
  data() {
    return {
      logo: "/static/img/cardlice.ico"
    };
  }
};
</script>

<style lang="scss">
@import "~bootstrap/scss/bootstrap";
</style>

